// PRIMARY NEXTFLOW.CONFIG
// This file contains all default parameters, profiles, pipeline metadata

// NEXTFLOW MANIFEST
manifest {
    name                                  = 'QC'
    version                               = '0.1.0'
    description                           = 'Nextflow pipeline to qc nanopore data'
    author                                = 'Stephan Amstler'
    homePage                              = 'https://github.com/AmstlerStephan/Nanopore_QC.git'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=22.04'
}

// DEFAULT PARAMETERS
params {

	// BASIC PARAMS
	help = false
	version = false
	debug = false

	// INPUT / OUTPUT
	input = null
	output = "QC"
	threads = (Runtime.runtime.availableProcessors() - 1)


	min_qscore = 9
	min_read_length = 1000


	all_runs = true
	filter_reads = false
}


// NEXTFLOW PROFILES
profiles {

	// -profile standard
	standard {
		includeConfig "${baseDir}/config/base.config"
	}

	// -profile conda
	conda {
		includeConfig "${baseDir}/config/base.config"
		process.conda = "$baseDir/env/environment.yml"
	}

	// -profile docker
	docker {
		includeConfig "${baseDir}/config/base.config"
		docker.enabled = true
		process.container = 'ecseq/dnaseq'
	}

	// -profile test
	test {
		includeConfig "${baseDir}/config/base.config"
		includeConfig "${baseDir}/config/test.config"
	}

	// -profile custom
	custom {
		// Don't load any config (for use with custom home configs)
	}
}

// NEXTFLOW REPORTING # this defines pipeline metadata
dag {
	enabled = true
	overwrite = true 
	file = "${params.output}/dag.svg"
}
report {
	enabled = true
	overwrite = true
	file = "${params.output}/report.html"
}
timeline {
	enabled = true
	overwrite = true
	file = "${params.output}/timeline.html"
}
trace {
	enabled = true
	overwrite = true
	file = "${params.output}/trace.txt"
}