/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run ecseq/dnaseq -profile test
 */

params {

    input = "test_data/"
    all_runs = true
    merge_all = true

    min_qscore = 9
    min_read_length = 1000
}
